# Federal Fleet Data

## Idea is to find Federal Vehicle Fleet Data

We conducted a Google search and found: 

https://www.gsa.gov/policy-regulations/policy/vehicle-management-policy/vehicle-management-library

In [1]:
import pandas as pd

In [2]:
FFD = pd.read_excel('../Data/Federal-Fleet-Data/FY2020-FederalFleetReport.xlsx')

In [3]:
FFD.head()

  Unnamed: 0
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [5]:
FFD

                             Unnamed: 0
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
5                                   NaN
6                                   NaN
7                                   NaN
8                                   NaN
9                                   NaN
10                                  NaN
11                                  NaN
12                                  NaN
13  FY 2020 Federal Fleet Open Data Set
14                                  NaN
15                  2021-05-25 00:00:00

## Note that we didn't wrangle anything interesting

In [4]:
xls = pd.ExcelFile('../Data/Federal-Fleet-Data/FY2020-FederalFleetReport.xlsx')
index = pd.read_excel(xls, 'Index')

In [5]:
index.head()

                             Unnamed: 0       Unnamed: 1
0  FY 2020 Federal Fleet Open Data Set*              NaN
1                                   NaN              NaN
2                                   NaN              NaN
3                                   NaN  Index of Tables
4                                   NaN              NaN

In [6]:
index

,Unnamed: 0,Unnamed: 1
0,FY 2020 Federal Fleet Open Data Set*,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,Index of Tables
4,NaN,NaN
...,...,...
69,Table 5-5T,Vehicle Disposals by Fuel Type by Year
70,NaN,NaN
71,NaN,NaN
72,NaN,NaN
73,*This data is provided in accordance with OMB ...,NaN

## can't see the data so set max options

In [7]:
pd.set_option('display.max_rows', 74)

In [8]:
index

,Unnamed: 0,Unnamed: 1
0,FY 2020 Federal Fleet Open Data Set*,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,Index of Tables
4,NaN,NaN
5,Section 1: Overall Fleet Profile,NaN
6,Table 1-1,"Inventory, Cost, and Use Summary"
7,NaN,NaN
8,Section 2: Inventory,NaN
9,Table 2-1,Worldwide Inventory
10,Table 2-1T,Worldwide Inventory by Year
11,Table 2-2,Vehicle Sources
12,Table 2-2T,Vehicle Sources by Year
13,Table 2-3,Domestic and Foreign Inventory
14,Table 2-3T,Domestic and Foreign Inventory by Year
15,Table 2-4,GSA Fleet Profile
16,Table 2-4T,GSA Fleet Profile by Year
17,Table 2-5,Passenger Vehicles
18,Table 2-5T,Passenger Vehicles by Year
19,Table 2-6,Trucks and Other Vehicles
20,Table 2-6T,Trucks and Other Vehicles by Year
21,Table 2-7,Passenger Vehicles (Law Enforcement)
22,Table 2-7T,Passenger Vehicles (Law Enforcement) by Year
23,Table 2-8,Trucks and Other Vehicles (Law Enforcement)
24,Table 2-8T,Trucks and Other Vehicles (Law Enforcement) by...
25,Table 2-9,Average Age of Federally Owned Vehicles
26,NaN,NaN
27,Section 3: Cost,NaN
28,Table 3-1,Worldwide Cost
29,Table 3-1T,Worldwide Cost by Year
30,Table 3-2,Cost Breakdown by Category
31,Table 3-2T,Cost Breakdown by Category by Year
32,Table 3-3,Cost Per Mile – Overall
33,Table 3-3T,Cost Per Mile – Overall by Year
34,Table 3-4,Cost Per Mile – Agency Owned Vehicles
35,Table 3-4T,Cost Per Mile – Agency Owned Vehicles by Year
36,Table 3-5,Cost Per Mile – GSA Fleet
37,Table 3-5T,Cost Per Mile – GSA Fleet by Year
38,Table 3-6,Cost Per Mile – Commercially Leased Vehicles
39,Table 3-6T,Cost Per Mile – Commercially Leased Vehicles b...
40,Table 3-7,Domestic and Foreign Cost
41,Table 3-7T,Domestic and Foreign Cost by Year
42,Table 3-8,Domestic and Foreign Cost Per Mile
43,Table 3-8T,Domestic and Foreign Cost Per Mile by Year
44,NaN,NaN
45,Section 4: Utilization,NaN
46,Table 4-1,Worldwide Miles
47,Table 4-1T,Worldwide Miles by Year
48,Table 4-2,Average Miles Per Vehicle
49,Table 4-2T,Average Miles Per Vehicle by Year
50,Table 4-3,Miles – Domestic and Foreign
51,Table 4-3T,Miles – Domestic and Foreign by Year
52,Table 4-4,Miles – Agency Owned Vehicles
53,Table 4-4T,Miles – Agency Owned Vehicles by Year
54,Table 4-5,Miles – GSA Fleet
55,Table 4-5T,Miles – GSA Fleet by Year
56,Table 4-6,Miles – Commercially Leased Vehicles
57,Table 4-6T,Miles – Commercially Leased Vehicles by Year
58,NaN,NaN
59,Section 5: Fuel Consumption,NaN
60,Table 5-1,Worldwide Fuel Consumption
61,Table 5-1T,Worldwide Fuel Consumption by Year
62,Table 5-2,Fuel Cost by Fuel Type
63,Table 5-2T,Fuel Cost by Fuel Type by Year
64,Table 5-3,Vehicle Inventory by Fuel Type
65,Table 5-3T,Vehicle Inventory by Fuel Type by Year
66,Table 5-4,Vehicle Acquisitions by Fuel Type
67,Table 5-4T,Vehicle Acquisitions by Fuel Type by Year
68,Table 5-5,Vehicle Disposals by Fuel Type
69,Table 5-5T,Vehicle Disposals by Fuel Type by Year
70,NaN,NaN
71,NaN,NaN
72,NaN,NaN
73,*This data is provided in accordance with OMB ...,NaN

## how do we remove the rows with NaNs?

In [11]:
index.dropna()

     Unnamed: 0                                         Unnamed: 1
6     Table 1-1                   Inventory, Cost, and Use Summary
9     Table 2-1                                Worldwide Inventory
10   Table 2-1T                        Worldwide Inventory by Year
11    Table 2-2                                    Vehicle Sources
12   Table 2-2T                            Vehicle Sources by Year
13    Table 2-3                     Domestic and Foreign Inventory
14   Table 2-3T             Domestic and Foreign Inventory by Year
15    Table 2-4                                  GSA Fleet Profile
16   Table 2-4T                          GSA Fleet Profile by Year
17    Table 2-5                                 Passenger Vehicles
18   Table 2-5T                         Passenger Vehicles by Year
19    Table 2-6                          Trucks and Other Vehicles
20   Table 2-6T                  Trucks and Other Vehicles by Year
21    Table 2-7               Passenger Vehicles (Law Enforcement)
22   Table 2-7T       Passenger Vehicles (Law Enforcement) by Year
23    Table 2-8        Trucks and Other Vehicles (Law Enforcement)
24  Table 2-8T   Trucks and Other Vehicles (Law Enforcement) by...
25    Table 2-9            Average Age of Federally Owned Vehicles
28    Table 3-1                                     Worldwide Cost
29   Table 3-1T                             Worldwide Cost by Year
30    Table 3-2                         Cost Breakdown by Category
31   Table 3-2T                 Cost Breakdown by Category by Year
32    Table 3-3                            Cost Per Mile – Overall
33   Table 3-3T                    Cost Per Mile – Overall by Year
34    Table 3-4              Cost Per Mile – Agency Owned Vehicles
35   Table 3-4T      Cost Per Mile – Agency Owned Vehicles by Year
36    Table 3-5                          Cost Per Mile – GSA Fleet
37   Table 3-5T                  Cost Per Mile – GSA Fleet by Year
38    Table 3-6       Cost Per Mile – Commercially Leased Vehicles
39   Table 3-6T  Cost Per Mile – Commercially Leased Vehicles b...
40    Table 3-7                          Domestic and Foreign Cost
41   Table 3-7T                  Domestic and Foreign Cost by Year
42    Table 3-8                 Domestic and Foreign Cost Per Mile
43   Table 3-8T         Domestic and Foreign Cost Per Mile by Year
46    Table 4-1                                    Worldwide Miles
47   Table 4-1T                            Worldwide Miles by Year
48    Table 4-2                          Average Miles Per Vehicle
49   Table 4-2T                  Average Miles Per Vehicle by Year
50    Table 4-3                       Miles – Domestic and Foreign
51   Table 4-3T               Miles – Domestic and Foreign by Year
52    Table 4-4                      Miles – Agency Owned Vehicles
53   Table 4-4T              Miles – Agency Owned Vehicles by Year
54    Table 4-5                                  Miles – GSA Fleet
55   Table 4-5T                          Miles – GSA Fleet by Year
56    Table 4-6               Miles – Commercially Leased Vehicles
57   Table 4-6T       Miles – Commercially Leased Vehicles by Year
60    Table 5-1                         Worldwide Fuel Consumption
61   Table 5-1T                 Worldwide Fuel Consumption by Year
62    Table 5-2                             Fuel Cost by Fuel Type
63   Table 5-2T                     Fuel Cost by Fuel Type by Year
64    Table 5-3                     Vehicle Inventory by Fuel Type
65   Table 5-3T             Vehicle Inventory by Fuel Type by Year
66    Table 5-4                  Vehicle Acquisitions by Fuel Type
67   Table 5-4T          Vehicle Acquisitions by Fuel Type by Year
68    Table 5-5                     Vehicle Disposals by Fuel Type
69   Table 5-5T             Vehicle Disposals by Fuel Type by Year

In [12]:
# is that what we wanted? notice if we call the originial dataset we get back the same as before data
index

,Unnamed: 0,Unnamed: 1
0,FY 2020 Federal Fleet Open Data Set*,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,Index of Tables
4,NaN,NaN
5,Section 1: Overall Fleet Profile,NaN
6,Table 1-1,"Inventory, Cost, and Use Summary"
7,NaN,NaN
8,Section 2: Inventory,NaN
9,Table 2-1,Worldwide Inventory
10,Table 2-1T,Worldwide Inventory by Year
11,Table 2-2,Vehicle Sources
12,Table 2-2T,Vehicle Sources by Year
13,Table 2-3,Domestic and Foreign Inventory
14,Table 2-3T,Domestic and Foreign Inventory by Year
15,Table 2-4,GSA Fleet Profile
16,Table 2-4T,GSA Fleet Profile by Year
17,Table 2-5,Passenger Vehicles
18,Table 2-5T,Passenger Vehicles by Year
19,Table 2-6,Trucks and Other Vehicles
20,Table 2-6T,Trucks and Other Vehicles by Year
21,Table 2-7,Passenger Vehicles (Law Enforcement)
22,Table 2-7T,Passenger Vehicles (Law Enforcement) by Year
23,Table 2-8,Trucks and Other Vehicles (Law Enforcement)
24,Table 2-8T,Trucks and Other Vehicles (Law Enforcement) by...
25,Table 2-9,Average Age of Federally Owned Vehicles
26,NaN,NaN
27,Section 3: Cost,NaN
28,Table 3-1,Worldwide Cost
29,Table 3-1T,Worldwide Cost by Year
30,Table 3-2,Cost Breakdown by Category
31,Table 3-2T,Cost Breakdown by Category by Year
32,Table 3-3,Cost Per Mile – Overall
33,Table 3-3T,Cost Per Mile – Overall by Year
34,Table 3-4,Cost Per Mile – Agency Owned Vehicles
35,Table 3-4T,Cost Per Mile – Agency Owned Vehicles by Year
36,Table 3-5,Cost Per Mile – GSA Fleet
37,Table 3-5T,Cost Per Mile – GSA Fleet by Year
38,Table 3-6,Cost Per Mile – Commercially Leased Vehicles
39,Table 3-6T,Cost Per Mile – Commercially Leased Vehicles b...
40,Table 3-7,Domestic and Foreign Cost
41,Table 3-7T,Domestic and Foreign Cost by Year
42,Table 3-8,Domestic and Foreign Cost Per Mile
43,Table 3-8T,Domestic and Foreign Cost Per Mile by Year
44,NaN,NaN
45,Section 4: Utilization,NaN
46,Table 4-1,Worldwide Miles
47,Table 4-1T,Worldwide Miles by Year
48,Table 4-2,Average Miles Per Vehicle
49,Table 4-2T,Average Miles Per Vehicle by Year
50,Table 4-3,Miles – Domestic and Foreign
51,Table 4-3T,Miles – Domestic and Foreign by Year
52,Table 4-4,Miles – Agency Owned Vehicles
53,Table 4-4T,Miles – Agency Owned Vehicles by Year
54,Table 4-5,Miles – GSA Fleet
55,Table 4-5T,Miles – GSA Fleet by Year
56,Table 4-6,Miles – Commercially Leased Vehicles
57,Table 4-6T,Miles – Commercially Leased Vehicles by Year
58,NaN,NaN
59,Section 5: Fuel Consumption,NaN
60,Table 5-1,Worldwide Fuel Consumption
61,Table 5-1T,Worldwide Fuel Consumption by Year
62,Table 5-2,Fuel Cost by Fuel Type
63,Table 5-2T,Fuel Cost by Fuel Type by Year
64,Table 5-3,Vehicle Inventory by Fuel Type
65,Table 5-3T,Vehicle Inventory by Fuel Type by Year
66,Table 5-4,Vehicle Acquisitions by Fuel Type
67,Table 5-4T,Vehicle Acquisitions by Fuel Type by Year
68,Table 5-5,Vehicle Disposals by Fuel Type
69,Table 5-5T,Vehicle Disposals by Fuel Type by Year
70,NaN,NaN
71,NaN,NaN
72,NaN,NaN
73,*This data is provided in accordance with OMB ...,NaN

## Lets check out the next tab/sheets in the excel worksheet, but first lets list those sheet names

In [13]:
print(xls.sheet_names)

['Cover Sheet', 'Index', '1-1', '2-1', '2-1T', '2-2', '2-2T', '2-3', '2-3T', '2-4', '2-4T', '2-5', '2-5T', '2-6', '2-6T', '2-7', '2-7T', '2-8', '2-8T', '2-9', '3-1', '3-1T', '3-2', '3-2T', '3-3', '3-3T', '3-4', '3-4T', '3-5', '3-5T', '3-6', '3-6T', '3-7', '3-7T', '3-8', '3-8T', '4-1', '4-1T', '4-2', '4-2T', '4-3', '4-3T', '4-4', '4-4T', '4-5', '4-5T', '4-6', '4-6T', '5-1', '5-1T', '5-2', '5-2T', '5-3', '5-3T', '5-4', '5-4T', '5-5', '5-5T']

In [14]:
one_one = pd.read_excel(xls, '1-1')

In [15]:
one_one.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,Section 1: Overall Fleet Profile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Table 1-1: Inventory, Cost and Use Summary",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Department or Agency,INVENTORY,NaN,NaN,NaN,COST,NaN,NaN,NaN,USE,NaN,NaN,NaN
3,NaN,NaN,Owned,GSA Fleet,Commercial Leased,Total Inventory,Owned,GSA Fleet,Commercial Leased,Total Cost,Owned,GSA Fleet,Commercial Leased,Total Miles
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
two_one = pd.read_excel(xls, '2-1')

In [17]:
two_one.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,Section 2: Inventory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Table 2-1: Worldwide Inventory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Department or Agency,PASSENGER,NaN,NaN,NaN,NaN,TRUCKS,NaN,NaN,NaN,OTHER,NaN,NaN,TOTAL
3,NaN,NaN,LSEVs*,Sedans,Passenger\nVans,SUVs,Passenger\nSubtotal,Light\nTrucks,Medium\nTrucks,Heavy\nTrucks,Truck\nSubtotal,Ambulance,Buses,Other\nSubtotal,NaN
4,NaN,American Battle Monuments Commission,0,22,4,4,30,18,2,0,20,0,0,0,50